<ion-header>
  <ion-toolbar>
    <ion-title>App Trivia - Top</ion-title>
    <ion-progress-bar value="1"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<!-- Temporizador -->

<ion-item color="secondary">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>GANADORES TOP</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>

<ion-content>

  <ion-card *ngFor="let entry of personas; let i = index;">
    <ion-item>
      <ion-avatar slot="end">
        <img src="../../assets/avatar.svg">
      </ion-avatar>
      <ion-label>
        <h2>{{entry.usuario}} # <b>{{i+1}}</b></h2>
        <h6>{{entry.nombre}} </h6>
        <h6>Categoria: {{entry.categoria}}. Repuestas: {{entry.respuestas}}/20</h6>   
        <h6>Tiempo: {{entry.tiempoM}} min y {{entry.tiempoS}} seg.</h6>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>
