<ion-header>
  <ion-toolbar>
    <ion-title>App Trivia - Preguntas</ion-title>
    <ion-progress-bar value=".65"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

  <!-- Categoria -->

  <ion-segment scrollable mode="md" color="primary"
  (ionChange)= "cambioCategoria($event)">
    <ion-segment-button [value]="categoria" md="md"
              *ngFor="let categoria of categorias">
    <ion-label text-capitalize>{{categoria}}</ion-label>
    </ion-segment-button>
  </ion-segment>

    <!-- Temporizador -->

    <ion-item color="success">
      <ion-grid>
        <ion-row>
          <ion-col>
            <section>
              <div class="coming-soon">
                  <div class="time-countdown">
                      <ul>
                          <h3>TIEMPO</h3>
                          <li class="count-bg-two radius"><span id="hours">{{hours}}</span></li>
                          <li class="count-bg-three radius"><span id="minutes">{{minutes}}</span></li>
                          <li class="count-bg-four radius"><span id="seconds">{{seconds}}</span></li>
                      </ul>
                  </div>
              </div>
          </section>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

<ion-content class="ion-padding">

  <!-- Preguntas -->

    <ion-list-header>
      <ion-label>Resuelve las preguntas en el menor tiempo posible:</ion-label>
    </ion-list-header>

    <ion-card *ngFor="let entry of preguntas; let i = index">
      <ion-card-header>
        <ion-card-subtitle>{{selectCategoria}}</ion-card-subtitle>
        <ion-card-title>Pregunta {{i+1}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-radio-group (ionChange)="obtenerRes($event)">
          <ion-label>{{entry.question}}</ion-label>
          <ion-item>
            <ion-label>{{entry.incorrect_answers[1]}}</ion-label>
            <ion-radio slot="end"  color="primary" mode="ios"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{entry.incorrect_answers[0]}}</ion-label>
            <ion-radio slot="end"  color="primary" mode="ios"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{entry.correct_answer}}</ion-label>
            <ion-radio slot="end"  color="primary" mode="ios"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{entry.incorrect_answers[2]}}</ion-label>
            <ion-radio slot="end"  color="primary" mode="ios"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-card-content>
    </ion-card>

  <ion-button expand="block" 
              fill="outline" 
              color="primary"
              (ionFocus)="guardarDatos()">
    FINALIZAR
  </ion-button>

</ion-content>
