ion-grid ion-row ion-col{
    text-align: center;
}

ion-segment ion-segment-button ion-label{
    color: white ;
}

ion-grid ion-row ion-col ion-label{
    font-weight: normal;
    font-weight: bold;
}

ion-segment{
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 6%;

}

ion-item {
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 6%;
}